@font-face {
  font-family: 'Poppins Regular';
  src: url('https://static.igem.wiki/teams/4455/wiki/poppins-regular.ttf ') format('opentype');
}

.breadcrumb-class{
    padding-top: 6%;
    filter: blur(0) !important;
}

body{
    font-weight: 200;
    position: relative;
}

html{
    box-sizing: border-box;
    height: 100%;
}

.colors {
    border: 1px solid black;
    margin: 25px auto;
    padding: 10px;
    background-color: black;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% {
      transform: translate3d(85px,0,0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

.collaborations {
    text-shadow: 2px 2px 2px black;
    color: white !important;
    font-size: 50px;
    text-align: center;
    font-family: 'Poppins Regular', sans-serif;
    margin-top: -9% !important;
}

.five-teams {
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins Regular', sans-serif;
    font-style: italic;
    margin-bottom: 5% !important;
    text-shadow: 2px 2px 2px black;
}

.top-notch{
    background: linear-gradient(#2DCFFF, #714BFF);
    width: 100%;
    color: white;
    margin: 0 30px;
    position: absolute;
    margin-top: -13.1%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.content{
    margin: 0 10%;
    font-family: 'Poppins Regular', sans-serif;
}

.hero-image {
    background-image: url('https://static.igem.wiki/teams/4455/wiki/background.jpg');
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 23%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
}

.section-two{
    width: 100%;
    position: absolute;
    margin-top: -17%;
}

.why-arsenic-description{
    margin-bottom: 2% !important;
}

.why-arsenic-description-two{
    margin-bottom: 2% !important;
}

.content-one{
    margin-bottom: 2% !important;
}

.another-description{
    margin-bottom: 2% !important;
}

.goals-and-progress{
    margin-bottom: 5% !important;
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.unordered-list{
    padding-right: 10% !important;
}

.row-one-images{
    margin-bottom: 2%;
}

.row-two-images{
    text-align: center;
}

.modal{
    text-align: center;
    /*background-color: rgba(255, 255, 255, 1) !important;*/
    border-style: none !important;
}

.modal-title{
    font-size: 35px;
}

.modal-content{
    background-color: rgba(0, 0, 0, 0.8) !important;
    text-align: center !important;
}

.modal{
    background-color: rgba(255, 255, 255, 0.2);
}

.patras-image {
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    top: 0;
    bottom: 0;
}

.the-patras-button{
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}

.parent-div{
    position: relative;
}

.inside-parent-div{
    position: absolute;
}

.modal-body{
    height: 250px;
    overflow-y: auto;
}

@media (min-height: 500px) {
    .modal-body { height: 400px; }
}

@media (min-height: 800px) {
    .modal-body { height: 600px; }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  .close{
    background-color:rgba(0, 0, 0, 1);
    color: white;
  }

  .column-one{
    text-align: center;
  }

  .column-two{
    text-align: center;
  }

  .column-three{
    text-align: center;
  }

  .title-one{
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins Regular', sans-serif;
    font-style: italic;
    margin-bottom: 5% !important;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10% !important;
  }

  .title-two{
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins Regular', sans-serif;
    font-style: italic;
    margin-bottom: 5% !important;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10% !important;
  }

  .title-three{
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins Regular', sans-serif;
    font-style: italic;
    margin-bottom: 5% !important;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10% !important;
  }

  .title-one-description-one{
    text-align: left;
    margin-bottom: 10% !important;
  }

  .title-one-description-two{
    text-align: left;
    margin-bottom: 10% !important;
  }

  .title-two-description-one{
    text-align: left;
    margin-bottom: 10% !important;
  }

  .title-two-description-two{
    text-align: left;
    margin-bottom: 10% !important;
  }

  .title-three-description-one{
    text-align: left;
    margin-bottom: 10% !important;
  }

  .title-three-description-two{
    text-align: left;
    margin-bottom: 10% !important;
  }

  .line-one{
    background-color: black;
    width: 5px !important;
    height: 1000px;
    text-align: center;
  }

  .line-two{
    background-color: black;
    width: 5px !important;
    height: 1000px;
    text-align: center;
  }

  .collaberations{
    text-align: center;
  }

  .basic-parts{
    text-align: center;
  }

  .basic-parts-table{
    margin-left: auto;
    margin-right: auto;
  }

  td {
    padding: 20px;
    border: 1px solid #54c4f9 !important;
    text-align: center;
    border-left: 0px solid !important;
  }

  td .right{
    border: 0px solid !important;
  }

  tr{
    text-align: center;
  }

  tr:nth-child(-n+5) td:nth-child(3){
    border-right: hidden !important;
  }

  .partnership-cont{
    text-align: center;
    font-size: 35px;
  }

  .part-one{
    text-align: center;
    font-size: 20px;
  }

  .part-two{
    text-align: center;
    font-size: 20px;
  }

  .overview{
    text-align: center;
    font-size: 25px;
    transform: rotate(-10deg);
  }

  .parameters{
    text-align: center;
    font-size: 25px;
    transform: rotate(-10deg);
  }

  .overview-description{
    text-align: center;
  }

  .parameters-description{
    text-align: center;
  }
